@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ededed; /* Dark mode text color */
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(270deg, #2f4156, #f5efeb, #2f4156);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; /* Use the gradient animation */
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}